{% extends "root.html" %}
{% block title %}Home | Todolist{% endblock title %}
{% block container %}
<h1>To-Do List</h1>
<ul class="row d-flex p-1  m-auto gap-3 ">
  {% for todo in todos %}
  <li class="row bg-light gap-3 p-3 m-auto">
    <h3  {% if todo.is_completed %} class="text-decoration-line-through" {% endif %}>{{ todo.title }}</h3>
    <p {% if todo.is_completed %} class="text-decoration-line-through" {% endif %}>{{ todo.description }}</p>
    <div >
      <a  class=" btn  btn-danger w-25" href={% url "del_todo" todo.id %}>Delete</a>

      <a  class=" btn btn-info w-25"  href={% url "edit_todo" todo.id %}>Edit</a>
</div>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'add_todo' %}" class=" btn btn-primary w-25 m-auto">Add New Task</a>
{% endblock container %}